.slider-container {
    text-align: center;
    margin: 50px;
  }
  
  .slider {
    width: 80%;
  }
  
  /* Стили для показа выбранного значения */
  #sliderValue {
    font-weight: bold;
  }